
body {
  margin: 0px;
  border: 0px;
  height: 100vh;
  background-color: #f9f9f9;
  background-position: bottom;
  background-size: contain;
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

*{
  box-sizing: border-box;
}

.row{
  justify-content: center;
  align-items: center;
}

.tengah {
  text-align: center;
}

img {
  text-align: center;
}

.container {
  display: flex;
/* align-items: center; */
justify-content: center;
flex-direction: column;
align-items: center;
padding: 15px 10%;
margin: auto 15%;
padding: auto 20px;
}

.quotation{
  font-size: 30px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer{
  margin:0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}
